<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">Add Shelter</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">
          <form role="form" >

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" placeholder="Enter Description"  class="form-control" ng-model="shelter.description" required>
            </div>
            <div class="form-group">
              <label for="hoursoperation">hoursoperation</label>
              <input type="text" placeholder="hoursoperation" id="hoursoperation" class="form-control" ng-model="shelter.hoursoperation" required>
            </div>
            <div class="form-group">
              <label for="conditionsforuse">conditionsforuse</label>
              <input type="text" placeholder="conditionsforuse" id="conditionsforuse" class="form-control" ng-model="shelter.conditionsforuse" required>
            </div>
            <div class="form-group">
              <label for="hoursoperation">capacity_maleBunk</label>
              <input type="text" placeholder="capacity_maleBunk" id="capacity_maleBunk" class="form-control" ng-model="shelter.capacity_maleBunk" required>
            </div>
          <div class="form-group">
              <label for="hoursoperation">capacity_femaleBunk</label>
              <input type="text" placeholder="capacity_femaleBunk" id="capacity_femaleBunk" class="form-control" ng-model="shelter.capacity_femaleBunk" required>
            </div>
            <div class="form-group">
              <label for="hoursoperation">capacity_mixBunk</label>
              <input type="text" placeholder="capacity_mixBunk" id="capacity_mixBunk" class="form-control" ng-model="shelter.capacity_mixBunk" required>
            </div>
          <div class="form-group">
              <label for="hoursoperation">availableroom</label>
              <input type="text" placeholder="availableroom" id="availableroom" class="form-control" ng-model="shelter.availableroom" required>
            </div>


            <button class="btn btn-default" type="submit"  ng-click="addShelter()" >Submit</button>
           
          </form>
        </div>
       </div>



  </div>
</div>




