<div class="panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title">Add Food Pantry</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">
          <form role="form" >

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" placeholder="Enter Description"  class="form-control" ng-model="foodpantry.description" required>
            </div>
            <div class="form-group">
              <label for="hoursoperation">hoursoperation</label>
              <input type="text" placeholder="hoursoperation" id="hoursoperation" class="form-control" ng-model="foodpantry.hoursoperation" required>
            </div>
            <div class="form-group">
              <label for="conditionsforuse">conditionsforuse</label>
              <input type="text" placeholder="conditionsforuse" id="conditionsforuse" class="form-control" ng-model="foodpantry.conditionsforuse" required>
            </div>



            <button class="btn btn-default" type="submit"  ng-click="addFoodpantry()" >Submit</button>
           
          </form>
        </div>
       </div>



  </div>
</div>




