<div class="panel panel-default" ng-init="getShelter()">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Shelter</h3>
  </div>
  <div class="panel-body">

      <div class="row">
        <div class="col-md-6">
          <form role="form" >

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" ng-model="shelter.description" required>
            </div>
            <div class="form-group">
              <label for="hoursoperation">hoursoperation</label>
              <input type="text" id="hoursoperation" class="form-control" ng-model="shelter.hoursoperation" required>
            </div>
            <div class="form-group">
              <label for="conditionsforuse">conditionsforuse</label>
              <input type="text" id="conditionsforuse" class="form-control" ng-model="shelter.conditionsforuse" required>
            </div>
            <div class="form-group">
              <label for="hoursoperation">capacity_maleBunk</label>
              <input type="text" id="capacity_maleBunk" class="form-control" ng-model="shelter.capacity_maleBunk" required>
            </div>
          <div class="form-group">
              <label for="hoursoperation">capacity_femaleBunk</label>
              <input type="text" id="capacity_femaleBunk" class="form-control" ng-model="shelter.capacity_femaleBunk" required>
            </div>
            <div class="form-group">
              <label for="hoursoperation">capacity_mixBunk</label>
              <input type="text" id="capacity_mixBunk" class="form-control" ng-model="shelter.capacity_mixBunk" required>
            </div>
          <div class="form-group">
              <label for="hoursoperation">availableroom</label>
              <input type="text" id="availableroom" class="form-control" ng-model="shelter.availableroom" required>
            </div>


            <button class="btn btn-default" type="submit"  ng-click="updateShelter()" >Update</button>
           
          </form>
        </div>
       </div>



  </div>
</div>




